.card-body {
  position: relative;
}

.table-head {
  border-bottom: 1px grey;
}

.filter-icon {
  color: grey;
}

.filter-icon:hover {
    color: rgb(182, 182, 182);
    cursor: pointer;
}

.beer-table-content:hover {
  cursor: pointer;
}
